@import './vars';
@import './reset';
@import './fonts';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%; 
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-body;
  font-family: qanelas, helvetica, "helvetica neue", arial, sans-serif;
  font-size: $font-body;
  font-weight: 500;
  line-height: 1.4;
  overflow-x: hidden;
}

input[type="text"] {
  width: 100%;
  background-color: $grey-cool-40;
  border: 1px solid black;
  padding: 12px 15px;
  color: white;
  border-radius: 2px;

  &:disabled {
    opacity: .7;
  }
}

.flex-group {
  display: flex;
}

.field-label {
  margin-bottom: 10px;
}

.field-group {
  margin-bottom: 20px;

  .group-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    align-self: flex-end;
    background-color: $orange-100;
    padding: 6px 20px;
    margin-left: auto;
    border-radius: 4px;
    font-weight: 700;
    text-transform: capitalize;
  }
}

.trace {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 375px;
  opacity: .25;
  display: none;
}

.web {
  .content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 0 0;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    h2 {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
  
    &--cta {
      background-color: $orange-100;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
    }
  
    &--record {
      background-color: white;
      color: $grey-cool-20;
      font-weight: 700;
      text-transform: uppercase;
      border: 1px solid $color-border-light;
    }
  }
  
  .dropdown {
    padding: 5px 20px;
    display: inline-block;
    border: 1px solid $color-border;
    border-radius: 2px;
    // text-transform: uppercase;
  }
}

#app {
  .mobile {
    position: relative;
    background-color: $color-bg;
    padding-bottom: 100px;
    margin: 0 auto;
  }

  .web {
    background-color: $color-bg;
  }
}

.mobile {
  position: relative;
  width: $mobile-width;
  overflow: hidden;

  &:hover .trace {
    opacity: 0;
  }
}

.table-guide {
  width: 100%;
}

.headline-xs,
.headline-sm,
.headline-md,
.headline-lg,
.headline-xl,
.headline-xxl {
  &:before {
    background: $orange-100;
  }
}

.body-xxs,
.body-xs,
.body-sm,
.body-md,
.body-lg,
.body-xl,
.body-xxl {
  &:before {
    background: $nu-blue-100;
  }
}

.headline-xxs,
.headline-xs,
.headline-sm,
.headline-md,
.headline-lg,
.headline-xl,
.headline-xxl,
.body-xxs,
.body-xs,
.body-sm,
.body-md,
.body-lg,
.body-xl,
.body-xxl {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 100;
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 700;
    font-family: arial;
    opacity: 0;
    text-transform: uppercase;
    transition: all 15s eases-in-out;
    pointer-events: none;
    top: -15px;
    border-radius: 4px;
    min-width: 50px;
    text-align: center;
    transition: all .15s ease-out;
  }

  &:hover:before {
    opacity: 1;
    top: 15px;
  }

  &:hover:after {
    opacity: 1;
  }

  &.force-opacity:before {
    opacity: 1 !important;
  }
}

.headline-xs {
  &:before {
    content: "h-xs";
  }
}

.headline-sm {
  &:before {
    content: "h-sm";
  }
}

.headline-md {
  &:before {
    content: "h-md";
  }
}

.headline-lg {
  &:before {
    content: "h-lg";
  }
}

.headline-xl {
  &:before {
    content: "h-xl";
  }
}

.headline-xxl {
  &:before {
    content: "h-xxl";
  }
}

.body-xxs {
  &:before {
    content: "b-xxs";
  }
}

.body-xs {
  &:before {
    content: "b-xs";
  }
}

.body-sm {
  &:before {
    content: "b-sm";
  }
}

.body-md {
  &:before {
    content: "b-md";
  }
}

.body-lg {
  &:before {
    content: "b-lg";
  }
}

.body-xl {
  &:before {
    content: "b-xl";
  }
}

