@font-face {
  /* formerly: 'Qanelas-Regular'; */
  font-family: 'Qanelas';
  font-weight: normal;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.svg#wf') format('svg');
}

@font-face {
  /* formerly: 'Qanelas-Medium'; */
  font-family: 'Qanelas';
  font-weight: 500;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.svg#wf') format('svg');
}

@font-face {
  /* formerly: 'Qanelas-SemiBold'; */
  font-family: 'Qanelas';
  font-weight: 600;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.svg#wf') format('svg');
}

@font-face {
  /* formerly: 'Qanelas-Bold'; */
  font-family: 'Qanelas';
  font-weight: bold;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.svg#wf') format('svg');
}

@font-face {
  /* formerly: 'Qanelas-ExtraBold'; */
  font-family: 'Qanelas';
  font-weight: 800;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.svg#wf') format('svg');
}

@font-face {
  /* formerly: 'Qanelas-Black'; */
  font-family: 'Qanelas';
  font-weight: 900;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.svg#wf') format('svg');
}