.font10,
.font12,
.font14,
.font16,
.font18,
.font24,
.font32,
.font48,
.font56 {
  margin: 30px 0;
  background-color: rgba(magenta, .2);
}

.font10 {
  font-size: 10px;
  line-height: 15px;
}

.font12 {
  font-size: 12px;
  line-height: 30px;
}

.font14 {
  font-size: 14px;
  line-height: 30px;
}

.font16 {
  font-size: 16px;
  line-height: 30px;
}

.font18 {
  font-size: 18px;
  line-height: 30px;
}

.font24 {
  font-size: 24px;
  line-height: 45px;
}

.font32 {
  font-size: 32px;
  line-height: 45px;
}

.font48 {
  font-size: 48px;
  line-height: 60px;
}

.font56 {
  font-size: 56px;
  line-height: 75px;
}