// ------------------------------------
// Colors
// ------------------------------------
$color-temp: rgba(white, .15);

$grey-cool-0: #0B0C0C;
$grey-cool-20: #151718;
$grey-cool-40: #2B2E30;
$grey-cool-60: #404648;
$grey-cool-80: #565D60;
$grey-cool-140: #A6ACAE;
$grey-cool-160: #C4C7C9;
$grey-cool-180: #E1E3E4;

$orange-100: #FA4616;

$color-bg: $grey-cool-0;
$color-body: $grey-cool-180;
$color-header: $grey-cool-0;
$color-footer: $grey-cool-20;
$color-border: $grey-cool-80;
$color-border-light: $grey-cool-160;

// ------------------------------------
// Typography
// ------------------------------------
$font-body: 16px; // default body